body {
  background-color: #F2F7FF;
  line-height: 1.5;
}

h1 {
  color: #10316B
}

h3 {
  color: #0B409C;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #FDBE34;
  border-width: 5px;
  margin: 50px auto;
  width: 4%;
}

table {
  margin: 20px auto;
  width: 60%;
}

.header {
  width: auto;
}

.date {
  text-align: center;
}

.employment {
  text-align: center;
}

.activities {
  margin: auto;
  width: 60%;
}

.contact {
  text-align: center;
}
